{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="plot7"></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div id="plot8"></div>
    </div>
  </div>
<hr>

  <div class="row">
    <div class="col-lg-12">
      <div id="plot9"></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div id="plot10"></div>
    </div>
  </div>
  <hr>

    <div class="row">
      <div class="col-lg-12">
        <div id="plot15"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="data/data.json"></script> -->
  <script src="../static/js/line.js"></script>

  {% endblock %}
</div>
